body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
overflow-x: hidden;
text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  justify-content: center;
  justify-content: space-around;
 color: white;
 background-color:#333545;
}

.navbar .left{
  display: flex;
}

.navbar .left2,.navbar .right2{
  display: none;
}

.left > img{
  width: 9.8%;
margin-left: 43px;
}

.left input{
  margin-inline:10px;
  border-radius: 3.7px;
  width: 270%;
height: 37px;
border: none;
margin-top: 5px;
outline: none;
font-size: 13px;
word-spacing: 1px;
}

.right{
  display: flex;
margin-inline-start: auto;
margin-top: -34px;
margin-right: 40px;
}
.right p{
  margin-inline:33px;
 font-size: 14.2px;
color: #cccccc;
}

.right> #sign{
  cursor: pointer;
  margin-inline:7px;
width: 100px;
height: 28.6px;
border: none;
border-radius: 4px;
background-color: #f84464;
font-size: 12.8px;
color: white;
}
.right>.i{
  margin-inline:18px;
  font-size: 27.5px;
cursor: pointer;
color: #cccccc;
}

/*media query*/
@media only screen and (max-width: 1440px) {
   .left input{
   margin-inline:15px ;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 1024px) {
  .left > img{
    width: 10.7%;
  margin-left: 37px;
  }
  .left input{
  margin-inline:15px ;
margin-top: 3.3px; 
width:218%;
}
.right{
  margin-top: -33px;
}
}

@media only screen and (max-width: 854px) {
  .navbar{
    height: 68px;
 }
  .navbar .left,.navbar .right{
    display: none;
  }
  .navbar .left2{
    display: block;
  }
  .navbar .left2 p{
   margin-top: -7px;
  font-size: 13.9px;
} 
  .navbar .right2{
    display: block;
    display: flex;
    color: #cccccc;
  }
  .navbar .right2 .gl{
    font-size:1.38em;
    margin-inline: 22px;
  }
  .navbar .right2 .gl2{
    font-size:1.28em;
    margin-inline: 22px;
  }
  .left2 h4{
    font-size:20.5px;
  }
  }
  @media only screen and (max-width: 429px) {
    .navbar .right2 .gl{
      display:none;
    
    }
  }
  @media only screen and (max-width: 387px) {
    .left2{
      margin-left: -8px;
      margin-top: 4px;
    }
    .left2 h4{
      font-size:18px;
    }
}
  @media only screen and (max-width: 350px) {
    .navbar{
      height: 64px;
   }
    .navbar .gl2{
      display: none;
    }
    .left2 h4{
      font-size:18px;
      font-weight: 20px;
    }
}
    
/*Sec-Nav*/

#sec-nav p{
padding-left: 26px;
font-size: 15px;
}
#sec-nav #tw p{
  font-size: 13px;
}
.ad{
  display: none;
}
@media only screen and (max-width: 1160px) {
.bo1{
  display: none;
}
}
@media only screen and (max-width: 873px) {
  #sec-nav div >p,#sec-nav #tw >p{
    display: none;
    }
  .ad{
    display: block;
    font-size: 24px;
    color: white;  
  }
  #sec-nav >div{
    padding-left: 42px;
  }
   #sec-nav div .ad{
    margin-left: 65px;
  }
}

@media only screen and (max-width: 763px) {
  #sec-nav >div{
    padding-right: 1px;
  }
  #sec-nav div .ad{
    margin-left: 51px;
  }
  
}
@media only screen and (max-width:616px){
  #mo2 {
    width: 60%;
  margin: 0 auto;
   margin-top:18px;  
    
}

}
@media only screen and (max-width: 539px) {
  #sec-nav >div #on{
    display: none;
  }

  #sec-nav >div{
padding-left: 63px;
}
#sec-nav div .ad{
  margin-left: 48px;
}

#mo {
  width: 81%;
margin-left: 37px;
margin-top:26px;  
}
#mo2 {
  width: 71%;
  margin-left:46px;
}
}
@media only screen and (max-width: 425px) {
  #mo {
    width: 73%;
  margin-left: 37.5px;
margin-top:23px;  
}  
  #mo2 {
      width: 68%;
    margin-left: 37.5px;
    }
  
}
@media only screen and (max-width: 400px) {
  #sec-nav >div{
    padding-left: 83px;
    }
    #sec-nav div .ad{
      margin-left: 32px;
    }
    #mo{
      width:284px;
      margin-left: 23px;
      
    }
    #mo2 {
      width: 68%;
    margin-left: 34px;
    }   
}

/*Frontend Design*/
.landing{
  background-color: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-family: Raleway;
}
.typewriter {
 width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
  }

@keyframes cursor {
	0%, 100% { 
    border-color:white; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}
#h21{
  font-size:66px;
  color: white;
  font-weight:normal;
}
#h22{
  padding-top: 5px;
  font-size:20px;
  color: white;
}

.landingbtn{
  background-color: white !important;
  color: black !important;
  margin-top: 20px;
}

.landing .col-md-12{
  border-right: 5px solid white !important;
}

@media only screen and (max-width: 423px) {
  .landing{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: clamp(2rem, 2.8vw, 5rem);
    font-family: Raleway;
  }
  #h21{
    font-size:40px;
    color: #ffffff;
    font-weight:normal;
  }
  #h22{
    padding-top: 4px;
    font-size:19px;
    color: white;
    font-weight:normal;
  }
  }