/*Home Scroll*/
div >#img{
    position: relative;
    height:308px;
border-radius: 11px;
}

.black{
    margin-top: -278px;
    padding-left: 37px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.black> h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    color: #fff;
}

.black > .star{
    color: #ffd500;
    text-align: left;
    font-size: 28px;
    margin: 10px 0;
    position: relative;
}
.black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    line-height: 23px;
    font-family: "Ink Free";
  }

.black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
color: white;
}
 .black .genre .category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 12px;
  margin-left: 23px;  
}

.black .genre .category > span{
    color: #ffe100;
  }

.black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
  }

.black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
  padding-top:3.5px;
  padding-left: 1px;
}

.black .watch p{
    position: relative;
    left: 12px;
    font-family: sans-serif;
    color: white;
    top:1px;
    cursor: pointer;
}

/*HomeScreen Movie*/
.roll{
    background-color: whitesmoke;
    padding: 23px 76px;
}
#off{
    font-size: 18px;
    margin-left:-23px;
}
#off2{
     text-align: end;
     margin-top: -28.5px;
     margin-right: -36px;
    }
.df{
    display: flex;
justify-content:center;
align-items: center;
}
.dfr .img{
    cursor: pointer;
    width: 263px;
    height: 307px;
border-radius:8px;
}
.deta{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.deta2{
    display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 503px) {
#off{
margin-left: -47px;
font-size: 19px;
}
#off2{
    text-align: end;
 margin-top: -28.5px;
 font-size: 15px;
 margin-right: -36px;
}
.df{
        display: flex;
        gap:32px;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
}   
}
@media screen and (max-width: 400px) {
   
    .dfr .img{
        width: 143px;
        height: 307px;
    }   
    
}   
    
/*ADS*/
.iteamsdetails{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
}
.items_img{
    flex: .4;
}
.items_img img{
    width: 20rem;
    border-radius: 5px;
}

.details{
    flex: .5;
};

.rating{
    background-color: green;
}
#del1{
    display:block;
}
#del2{
    display:none;
}
@media (max-width:772px){
   
    .iteamsdetails{
         max-width: 1200px;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #del1{
        display:none;
    }
    #del2{
        display:block;
    }
}

@media (max-width:450px){
    .iteamsdetails{
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
    }
    #ADS{
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .items_img img{
        width: 16rem;
    }
    
}

/*footer*/
.foot{
    display:flex;
    gap: 144px;
    flex-wrap: wrap;
    margin-top: 26px;
}
.foot2{
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
     color: #cccccc;   
    background-color: #282931;
    gap: 124px;
}
@media screen and (max-width: 936px) {
    .foot{
        display:flex;
        gap: 54px;
        flex-wrap: wrap;
        margin-top: 26px;
    }
}
@media screen and (max-width: 518px) {
    .foot{
        display:flex;
        gap: 24px;
        flex-wrap: wrap;
        margin-top: 26px;
    }
    
    .foot2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 37px;
        font-size: 14px;
  }
} 
/*Book in Movie */
.select{
display: flex;
flex-direction: row;
padding-left: 722px;
height: 23px;
gap: 18px;
}
.select2{
padding-left: 7px;    
margin-top: 13px;
font-size: 17.5px;
}

@media screen and (max-width: 924px) {
    .select{
    padding-left: 435px;
    }
    .select2{
        padding-left: 1px;
        font-size:16px;
    }
        
}
@media screen and (max-width: 621px) {
    .select{
    padding-left: 195px;
      
}
}

@media screen and (max-width: 391px) {
    .select{
    padding-left: 115px;
    }
}

@media screen and (max-width: 412px) {
    .select2{
        font-size: 16px;
    margin-left: -12px;
    }
}
/*Admin*/
.anim{
        animation: zoomIn 1s ease forwards;
        animation-delay: .3s;
        font-size:29px;
        font-weight: 350;
        color: #282931;
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}


/*Search*/
.search{
    margin-top: 4px;
}

.search >select{
    width: 475px;
    height: 33px;
   margin-left: 11px;
   border: 1px solid  #e5e5e5;
   font-size: 0.5em;
   border-radius: 6px;
}

.search .collect{
    display: flex;
column-gap: 12px;
row-gap: 12px;
flex-wrap: wrap;
padding-left: 16px;
}
.search .collect img{
    flex-direction: column;
    width: 84px;
    height: 52px;
    border-radius: 3px;
   cursor: pointer;
   opacity: 1;
   box-shadow: yellowgreen;
}
.search .close{
    width:100%;
    margin-left: 1px;
    background-color: whitesmoke;
}

#dis{
    list-style: none;
display: flex;
flex-wrap: wrap;
row-gap: 18px;
padding-top: 12px;
margin-left: -43px;
}
#dis li{
    font-size: 13.5px;
padding-left: 26px;
}
#dis li:hover{
    color:brown;
}

@media screen and (max-width: 660px) {
.search > select{
        width: 92%;
        height: 33px;
    }
    
    .search .collect img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search .close{
        width:100%;
        margin-left: 1px;
        background-color: whitesmoke;
    }
    #dis{
    row-gap: 10px;
    }
}

@media screen and (max-width: 393px) {
    .search > select{
        width: 91%;
        height: 33px;
    }
}    

/*HomeScreen2*/
.show1{
    background-color: #f5f5f5;
    width: 100%;
    height:495px;
  padding-top: 28px;
}
.F1{
margin-left: 43px;
}
.h41{
    font-weight: 600;
  margin-left: 19px;
}
.show1 .p3{
    float: right;
    color: brown;
    margin-top: -26px;
    cursor: pointer;
    color:#dc3558;
}
.F1 div img{
    border-radius:10px ;
    width: 237px; 
    height: 315px;
}
@media screen and (max-width: 850px) {
    
    .F1{
    margin-right: 3px;
    }
    .h41{
        font-weight: 500;
        font-size:1.3em;
    }
    .F1 div img{
        width: 187px; 
        height: 238px;
    }
}

@media screen and (max-width: 472px) {
    .F1 div img{
        width: 317px; 
        height: 238px;
        margin-left:5px;
    }
}

@media screen and (max-width: 372px) {
    .show1 .h41{
    display: none;
    }
}

/*Soon*/
.s1 {
    display: flex;
    flex-direction: row;
  gap:26px;  
}
  .s1 >div img{
width: 237px; 
    height: 290px;
    border-radius: 11px;
}
@media screen and (max-width: 810px) {
    .s1 {
        display: flex;
        flex-direction: row;
    }
      .s1 >div img{
    width: 237px; 
        height: 255px;
        border-radius: 11px;
    }   
}
@media screen and (max-width: 798px) {
    .s1 {
        display: flex;
        flex-direction: row;
      flex-wrap: wrap;
     margin-left: 18px;
    }
}
#fi2{
 border:none;
 border-radius: 10px;
color:brown;
cursor:pointer;
overflow-x: hidden;
}
#fi3{
display: flex;
justify-content: center;
}
@media screen and (max-width: 505px) {
    #fi2{
  margin-left: 32px;
    }
    #fi3{
        margin-left: 28px;
         }
          
}
@media screen and (max-width: 408px) {
    #fi2{
  margin-right: 110px;
margin-left: -12px;  
}
}
@media screen and (max-width: 374px) {
    #fi2{
  margin-right: 130px;
margin-left: -22px;  
}
}
#la{
    width: 295px;
    margin-left: 463px;
    font-size: 16px;
    margin-top: 2px;
}
@media screen and (max-width:1162px) {
    #la{
        margin-left: 363px;
    }
}
@media screen and (max-width:913px) {
    #la{
        margin-left: 63px;
    }
}
@media screen and (max-width:396px) {
    #la{
        width:275px;
        margin-left: 3px;
    }
}

/*AdRotater*/
#ad{
    position: relative;
    width: 385px;
    height: 502px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: -300px;
    margin-left: 480px;
    background-color:white;
}
.vb{
    display: flex;
    gap:298px;
    cursor: pointer;
    color: black;
}
    #ad >div{
        padding: 5px 22px;
    }
    #ad div h3{
    font-size: 19.5px;
    word-spacing: 2px;
    color: #404040;
    }
    #ad >div iframe{
        width: 330px;
        height: 433px;
    border-radius: 12px;
    margin-left: 4px;
    }
    .ro{
        float: right;
    }

    @media screen and (max-width: 1305px) {
        #ad{
            width: 385px;
    height: 440px;
   margin-left:361px;
            }
            
            #ad div h3{
                font-size: 17px;
                }
         
            #ad >div iframe{
                width: 335px;
                height: 369px;
            
           }   
     
    } 
    @media screen and (max-width: 982px) {
        #ad{
            width: 385px;
            height: 440px;
            margin-left:273px ;
            }
            #ad >div iframe{
                width: 335px;
                height: 369px;
             }   
     
    } 
    #MOV{
        display: block;
    }
    @media screen and (max-width: 800px) {
        #MOV{
            display: none;
        }
        #ad{
            width: 380px;
            height: 440px;
            margin-left:118px ;
            }
            .vb{
                display: none;
            }
            #ad >div{
                padding: 3px 22px;
            }
            #ad >div iframe{
                width: 327px;
                height: 370px;
             }   
     
    } 
    @media screen and (max-width: 516px) {
        #ad{
            width: 285px;
            height: 359px;
            margin-left: 62px;
            }
            
            
            #ad div h3{
            font-size: 18px;
            word-spacing: 2px;
            padding-left:30px;
            }
            #ad >div iframe{
                width: 235px;
                height: 280px;
           }   
    }
    @media screen and (max-width: 424px) {
        #ad{
            width: 302px;
            height: 354px;
            margin-left: 20px;
        }
            
            #ad div h3{
            font-size: 18px;
            word-spacing: 2px;
            padding-left:30px;
            }
            #ad >div iframe{
                width: 255px;
                height: 284px;
           }   
    }     
    
/*CommandDis*/
.eve{
    display:flex;
    gap:6px;
    flex-wrap:wrap;
}
.recieve{
    width:406px;
    height: 223px;
    border: 1px solid #cccccc;
   border-radius: 7px;
   margin-top: 8px;
   padding-left: 22px;
   padding-top: 17px;
   overflow-x: hidden;
}

.recieve #rec1{
    display: flex;
    font-size: 16px;
   gap: 8px;
}
.recieve #rec1 i{
padding-top: 5px;
}

.recieve #i9{
    font-size: 35px;
    color: #e5e5e5;
}

.recieve #rec2{
    display: flex;
    font-size: 17px;
   gap: 5px;
padding-left: 303px;
margin-top: -43px;
}
.recieve #rec3{
font-size: 18px;
display: flex;
flex-wrap: wrap;
}
.recieve #rec4{
  font-size: 15px;
  padding-top: 7px;  
  display: flex;
  flex-wrap: wrap;
  color: #404040;
}
.recieve #rec5{
display: flex;
    padding-top: 48px;
gap: 28px;
}  
@media screen and (max-width: 867px) {
    .eve{
        display:flex;
        gap:12px;
        flex-wrap: wrap;
    }
    .recieve{
        width:286px;
        height: 223px;
        border: 1px solid #cccccc;
       border-radius: 7px;
       margin-top: 8px;
       padding-left: 22px;
       padding-top: 17px;
       overflow-x: scroll;
       overflow-y: hidden;
    }
    

.recieve #rec1{
    display: flex;
    font-size: 16px;
   gap: 8px;
}
.recieve #rec1 i{
padding-top: 5px;
}

.recieve #i9{
    font-size: 32px;
    color: #e5e5e5;
}

.recieve #rec2{
    display: flex;
    font-size: 17px;
   gap: 5px;
padding-left: 303px;
margin-top: -43px;
}
.recieve #rec3{
font-size: 18px;
display: flex;
flex-wrap: wrap;
}
.recieve #rec4{
  font-size: 15px;
  padding-top: 7px;  
  display: flex;
  flex-wrap: wrap;
  color: #404040;
}
    .recieve #rec5{
        display: flex;
            padding-top: 48px;
        gap: 18px;
        }
}
@media screen and (max-width: 608px) {
    .eve{
        display:flex;
        gap:12px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .recieve{
        width:286px;
        height: 223px;
    }
}
/*tickets*/
#paper4{
    width:84%;
}
.tic{
    display: flex;
    gap: 23.5px;
    background-color: rose;
}
.tic >#booo{
    width: 70px;
    height: 88px;
    border-radius:10px;
    margin-top:23px;
}
#full{
    text-align: center;
    background-color: #e5e5e5;
text-decoration: none;
    padding: 2px 76px;
  border-radius: 4.5px;  
  margin-left: -62px;
font-size: 15px;
cursor: pointer;
color:brown;
}
.tic2{
    margin-left: -12px;
}
.re{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.re>img{
width: 183px;
height: 145px;
margin-top: -12px;
margin-left:-4px;
}

#i12{
margin-left: 72px;
padding-top: 12px;
}
#full2{
    background-color: #e5e5e5;
text-decoration: none;
    padding: 1px 84px;
  margin-left: 3px;
  border-radius: 4.5px;  
font-size: 15px;
cursor: pointer;
color: #b8b8b8;
}
#vb2{
    margin-left: 22px;
}
#qw{
    padding-left: 245px;
}
#qw1{
    padding-left: 234px;
    margin-top: -22px;
}
#pop{
    display:flex;
    flex-direction: row;
}

#paper4 {
width:100%;  
}
#do{
    display:flex;
    gap: 252px;
margin-left:3px;    
}
@media only screen and (max-width: 1100px) {
 
    #pop{
        display:flex;
        flex-direction: column;
        gap:32px;
    
}
}    
@media only screen and (max-width: 798px) {
    
       
    #pop{
        display:flex;
        flex-direction: column;
        gap:32px;
    }
    
    #vb1{
        margin-left: 13px;
    }
    #vb2{
        margin-left: 43px;
    }
    #do{
        margin-left: 36px;
        display:flex;
        gap: 252px;
        }
        
}
  @media only screen and (max-width: 600px) {
    #paper4 {
    width:100%;
    }
    #th{
        font-size: 18px;
        padding-left: 23px;
    }
    #full{
        display:flex;
                    justify-content: center;
                    align-items: center;
                }
  }
  
@media (max-width: 483px) {
    #paper4{
        width:74%;
        padding-left: 0px;
    }   
    .tic >#booo{
            width: 74px;
            height: 124px;
            margin-top:18px;
        }
        #full{
display:flex;
            justify-content: center;
            align-items: center;
        }
.tic2{
    margin-left: 6px;
}
.re{
    margin-left: 47px;
    margin-top: -29px;
}
.re>img{
margin-top: -12px;
margin-left:-14px;
}

#i12{
margin-left: 72px;
padding-top: 12px;
}

#full2{
    padding: 1px 76px;
  margin-left: -42px;
}
#qw{
    padding-left: 125px;
}
#qw1{
    padding-left: 168px;
    margin-top: -22px;
}

#th{
    font-size: 16px;
}

#vb2{
    margin-left: 2px;
}

#do{
    margin-left: 2px;
    display:flex;
    gap: 205px;
    }
    
      }
      @media (max-width: 363px) {
        #paper4{
           width: 69%; 
           margin-left:-18px; 
         }
         #do{
            margin-left: 2px;
            display:flex;
            gap: 188px;
            }
            
         }
 
/*typeScreen*/
@media (max-width: 600px) {
    .MuiBox-root {
      width: 100%;
      margin: 0 auto;
    }
  
  }
