/*Home Scroll*/
div >#img{
    height:308px;
border-radius: 18px;
}

.black{
    margin-top: -278px;
    padding-left: 37px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.black> h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    color: #fff;
}

.black > .star{
    color: #ffd500;
    text-align: left;
    font-size: 28px;
    margin: 10px 0;
    position: relative;
}
.black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    line-height: 23px;
    font-family: "Ink Free";
  }

.black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
color: white;
}
 .black .genre .category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 12px;
  margin-left: 23px;  
}

.black .genre .category > span{
    color: #ffe100;
  }

.black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
  }

.black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
  padding-top:3.5px;
  padding-left: 1px;
}

.black .watch p{
    position: relative;
    left: 12px;
    font-family: sans-serif;
    color: white;
    top:1px;
    cursor: pointer;
}

/*HomeScreen*/
.dfr .img{
    cursor: pointer;
    width: 263px;
    height: 307px;
border-radius:8px;
}

/*Book in Movie */
.select{
display: flex;
flex-direction: row;
padding-left: 722px;
height: 23px;
gap: 18px;
}
.select2{
padding-left: 7px;    
margin-top: 13px;
font-size: 17.5px;
}

@media screen and (max-width: 924px) {
    .select{
    padding-left: 435px;
    }
    .select2{
        padding-left: 1px;
        font-size:13px;
    }
        
}
@media screen and (max-width: 621px) {
    .select{
    padding-left: 195px;
    }
}

@media screen and (max-width: 391px) {
    .select{
    padding-left: 129px;
    }
}

@media screen and (max-width: 412px) {
    .select2{
        font-size: 9px;
    margin-left: -12px;
    }
}
/*Admin*/
.anim{
        animation: zoomIn 1s ease forwards;
        animation-delay: .3s;
        font-size:29px;
        font-weight: 350;
        color: #282931;
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}


/*Search*/
.search{
    margin-top: 4px;
}
.search input{
    width: 475px;
    height: 33px;
   margin-left: 11px;
   border: 1px solid  #e5e5e5;
   font-size: 0.5em;
   border-radius: 6px;
}

.search .collect{
    display: flex;
column-gap: 12px;
row-gap: 12px;
flex-wrap: wrap;
padding-left: 16px;
}
.search .collect img{
    flex-direction: column;
    width: 84px;
    height: 52px;
    border-radius: 3px;
   cursor: pointer;
   opacity: 1;
   box-shadow: yellowgreen;
}
.search .close{
    width:457px;
    margin-left: 18px;
    background-color: whitesmoke;
}

@media screen and (max-width: 561px) {
.search input{
        width: 375px;
        height: 33px;
    }
}

/*HomeScreen2*/
.show1{
    background-color: #f5f5f5;
    width: 100%;
    height:495px;
  padding-top: 28px;
}
.F1{
margin-left: 43px;
}
.h41{
    font-weight: 600;
  margin-left: 19px;
}
.show1 .p3{
    float: right;
    color: brown;
    margin-top: -26px;
    cursor: pointer;
    color:#dc3558;
}
.F1 div img{
    border-radius:10px ;
    width: 237px; 
    height: 315px;
}
@media screen and (max-width: 850px) {
    
    .F1{
    margin-right: 3px;
    }
    .h41{
        font-weight: 500;
        font-size:1.3em;
    }
    .F1 div img{
        width: 187px; 
        height: 238px;
    }
}

@media screen and (max-width: 472px) {
    .F1 div img{
        width: 317px; 
        height: 238px;
        margin-left:5px;
    }
}

@media screen and (max-width: 372px) {
    .show1 .h41{
    display: none;
    }
}

/*Soon*/
.s1 {
    display: flex;
    flex-direction: row;
  gap:26px;  
}
  .s1 >div img{
width: 237px; 
    height: 290px;
    border-radius: 11px;
}
@media screen and (max-width: 810px) {
    .s1 {
        display: flex;
        flex-direction: row;
    }
      .s1 >div img{
    width: 237px; 
        height: 255px;
        border-radius: 11px;
    }   
}
@media screen and (max-width: 798px) {
    .s1 {
        display: flex;
        flex-direction: row;
      flex-wrap: wrap;
     margin-left: 18px;
    }
}

/*Soon*/
#fi2{
 border:none;
 border-radius: 10px;
color:brown;
cursor:pointer;
}
#fi3{
display: flex;
justify-content: center;
}
@media screen and (max-width: 505px) {
    #fi2{
  margin-left: 32px;
    }
    #fi3{
        margin-left: 28px;
         }
          
}
@media screen and (max-width: 408px) {
    #fi2{
  margin-right: 110px;
margin-left: -12px;  
}
}
@media screen and (max-width: 374px) {
    #fi2{
  margin-right: 130px;
margin-left: -22px;  
}
}
#la{
    width: 295px;
    margin-left: 463px;
    font-size: 16px;
    margin-top: 2px;
}
@media screen and (max-width:1162px) {
    #la{
        margin-left: 363px;
    }
}
@media screen and (max-width:913px) {
    #la{
        margin-left: 63px;
    }
}
@media screen and (max-width:396px) {
    #la{
        width:275px;
        margin-left: 3px;
    }
}
/* .bnu >div{
   display:flex;
   justify-content: center;
   gap:28px;
flex-wrap: wrap;
}
.bnu > div  img{
    border-radius: 23px;
    flex-direction: column;
}
.ads{
    width: 397px;
    height:93px;
    border:1px solid #e5e5e5;
   margin-left: 53px;
   border-radius:12px ;
  background-color: aliceblue;
margin-top: 39px;
}
.ad1 {
    display: flex;
    padding-left: 28px;
   padding-top: 22px;
}
.ad1 span{
    flex-direction: column;
}
@media screen and (max-width: 1030px) {
    .ads{
        margin-top: 60px;
    }        
.ads > .h4{
    font-size: 1em;
}
}

@media screen and (max-width: 582px) {
 
.ads{
    width: 333px;
    margin-left:31px ;
}
.ads .ad1 span{
margin-top:-12px
}
}


@media screen and (max-width: 480px) {
    .ads{
        width: 320px;
        margin-left:9px ;
    }
    .ads .ad1 span{
    margin-top:-12px
    }
    .ads .ad1 span p{
        font-size: 1em;
        }
        }

        @media screen and (max-width: 340px) {
            .ads{
                width: 280px;
                margin-left:29px ;
            }
            .ads .ad1 span{
            margin-top:-12px
            }
            .ads .ad1 span p{
                font-size: 1em;
                }
                }
        
.end {
    display: flex;
   gap: 115px;
   flex-wrap: wrap;
   padding-left: 83px;
   margin-top: 23px;
}      
.end ul .nm1{
    width: 143px;
    height:46px;
}
.end ul{
    flex-direction: column;
     padding-top: 32px;
     list-style: none;

    }
.end ul li{
margin-top: 15px;
}

@media screen and (max-width: 1226px) {
 .end {
        display: flex;
       flex-wrap: wrap;
       gap:114px;
       padding-left: 70px;
       margin-top: 23px;
    }      
    .end ul .nm1{
        width: 143px;
        height:46px;
    }
    .end ul{
        flex-direction: column;
         padding-top: 32px;
    }
    .end ul li{
    margin-top: 12px;
    }   
}
/* .end2{
    display: none;
} */

/* @media screen and (max-width: 998px) {
    .end {
       padding-left: 28px;
       gap:43px
    }      
 
    .end2 {
        display: block;
        display:flex;
      gap:146px;
        height: 65px;
        list-style: none;
        padding-top: 16px;
    padding-left: 73px;
    }
    .end2 li{
        flex-direction: column;
        color:#666;
    }

}
@media screen and (max-width: 658px) {
    .end2 {
      gap:86px;
      padding-left: 53px;
    }
}
@media screen and (max-width: 488px) {
    .end2 {
      gap:46px;
      padding-left: 33px;
    }
}

@media screen and (max-width: 330px) {
    .end2 {
      gap:36px;
      padding-left: 16px;
    }
} */ 