/*Home Scroll*/
div >#img{
    position: relative;
    height:308px;
border-radius: 18px;
}

.black{
    margin-top: -278px;
    padding-left: 37px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.black> h1{
    font-size: 30px;
    text-align: left;
    position: relative;
    color: #fff;
}

.black > .star{
    color: #ffd500;
    text-align: left;
    font-size: 28px;
    margin: 10px 0;
    position: relative;
}
.black p{
    width: 550px;
    text-align: justify;
    font-size: 16px;
    color: #cccccc;
    margin: 10px 0;
    position: relative;
    line-height: 23px;
    font-family: "Ink Free";
  }

.black .genre{
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
color: white;
}
 .black .genre .category{
    background: #282931;
    text-decoration: none;
    color: #cccccc;
    padding: 2px 12px;
  margin-left: 23px;  
}

.black .genre .category > span{
    color: #ffe100;
  }

.black .watch{
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
  }

.black .watch i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
  padding-top:3.5px;
  padding-left: 1px;
}

.black .watch p{
    position: relative;
    left: 12px;
    font-family: sans-serif;
    color: white;
    top:1px;
    cursor: pointer;
}

/*HomeScreen Movie*/
.roll{
    background-color: whitesmoke;
    padding: 23px 76px;
}

.df{
    display: flex;
    gap:34px;
    flex-wrap:wrap;
}
.dfr .img{
    cursor: pointer;
    width: 263px;
    height: 307px;
border-radius:8px;
}
.deta{
    text-align:center;
}
/*ADS*/
.ADS{
    margin-top: 23px;
}
.ADS2{
    display: flex;
    flex-wrap: wrap;
    gap:23px ;
    row-gap: 31px;
    margin-left: 12px;
}
.ADS2 >img{
    width:203px;
    height: 136px;
    cursor: pointer;
    border-radius: 18px;
}
/*footer*/
.foot{
    display:flex;
    gap: 144px;
    flex-wrap: wrap;
    margin-top: 26px;
}
.foot2{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 235px;
    padding-left:192px;
     color: #cccccc;   
    background-color: #282931;
}
@media screen and (max-width: 864px) {
    .foot{
        display:flex;
        gap: 84px;
        flex-wrap: wrap;
        margin-top: 26px;
    }
    
    .foot2{
        display: flex;
        flex-wrap: wrap;
        gap: 37px;
        padding-left:83px;
  
    }
    
} 
/*Book in Movie */
.select{
display: flex;
flex-direction: row;
padding-left: 722px;
height: 23px;
gap: 18px;
}
.select2{
padding-left: 7px;    
margin-top: 13px;
font-size: 17.5px;
}

@media screen and (max-width: 924px) {
    .select{
    padding-left: 435px;
    }
    .select2{
        padding-left: 1px;
        font-size:13px;
    }
        
}
@media screen and (max-width: 621px) {
    .select{
    padding-left: 195px;
    }
}

@media screen and (max-width: 391px) {
    .select{
    padding-left: 129px;
    }
}

@media screen and (max-width: 412px) {
    .select2{
        font-size: 9px;
    margin-left: -12px;
    }
}
/*Admin*/
.anim{
        animation: zoomIn 1s ease forwards;
        animation-delay: .3s;
        font-size:29px;
        font-weight: 350;
        color: #282931;
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}


/*Search*/
.search{
    margin-top: 4px;
}
.search >select{
    width: 475px;
    height: 33px;
   margin-left: 11px;
   border: 1px solid  #e5e5e5;
   font-size: 0.5em;
   border-radius: 6px;
}

.search .collect{
    display: flex;
column-gap: 12px;
row-gap: 12px;
flex-wrap: wrap;
padding-left: 16px;
}
.search .collect img{
    flex-direction: column;
    width: 84px;
    height: 52px;
    border-radius: 3px;
   cursor: pointer;
   opacity: 1;
   box-shadow: yellowgreen;
}
.search .close{
    width:460px;
    margin-left: 1px;
    background-color: whitesmoke;
}

#dis{
   list-style: none;
display: flex;
flex-wrap: wrap;
row-gap: 18px;
padding-top: 12px;
margin-left: -43px;
}
#dis li{
    font-size: 13.5px;
padding-left: 26px;
}
#dis li:hover{
    color:brown;
}

@media screen and (max-width: 561px) {
.search > select{
        width: 375px;
        height: 33px;
    }
}

/*HomeScreen2*/
.show1{
    background-color: #f5f5f5;
    width: 100%;
    height:495px;
  padding-top: 28px;
}
.F1{
margin-left: 43px;
}
.h41{
    font-weight: 600;
  margin-left: 19px;
}
.show1 .p3{
    float: right;
    color: brown;
    margin-top: -26px;
    cursor: pointer;
    color:#dc3558;
}
.F1 div img{
    border-radius:10px ;
    width: 237px; 
    height: 315px;
}
@media screen and (max-width: 850px) {
    
    .F1{
    margin-right: 3px;
    }
    .h41{
        font-weight: 500;
        font-size:1.3em;
    }
    .F1 div img{
        width: 187px; 
        height: 238px;
    }
}

@media screen and (max-width: 472px) {
    .F1 div img{
        width: 317px; 
        height: 238px;
        margin-left:5px;
    }
}

@media screen and (max-width: 372px) {
    .show1 .h41{
    display: none;
    }
}

/*Soon*/
.s1 {
    display: flex;
    flex-direction: row;
  gap:26px;  
}
  .s1 >div img{
width: 237px; 
    height: 290px;
    border-radius: 11px;
}
@media screen and (max-width: 810px) {
    .s1 {
        display: flex;
        flex-direction: row;
    }
      .s1 >div img{
    width: 237px; 
        height: 255px;
        border-radius: 11px;
    }   
}
@media screen and (max-width: 798px) {
    .s1 {
        display: flex;
        flex-direction: row;
      flex-wrap: wrap;
     margin-left: 18px;
    }
}
#fi2{
 border:none;
 border-radius: 10px;
color:brown;
cursor:pointer;
overflow-x: hidden;
}
#fi3{
display: flex;
justify-content: center;
}
@media screen and (max-width: 505px) {
    #fi2{
  margin-left: 32px;
    }
    #fi3{
        margin-left: 28px;
         }
          
}
@media screen and (max-width: 408px) {
    #fi2{
  margin-right: 110px;
margin-left: -12px;  
}
}
@media screen and (max-width: 374px) {
    #fi2{
  margin-right: 130px;
margin-left: -22px;  
}
}
#la{
    width: 295px;
    margin-left: 463px;
    font-size: 16px;
    margin-top: 2px;
}
@media screen and (max-width:1162px) {
    #la{
        margin-left: 363px;
    }
}
@media screen and (max-width:913px) {
    #la{
        margin-left: 63px;
    }
}
@media screen and (max-width:396px) {
    #la{
        width:275px;
        margin-left: 3px;
    }
}

/*AdRotater*/
#ad{
    position: absolute;
    width: 385px;
    height: 502px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: -300px;
    margin-left: 480px;
    background-color:white;
}
.vb{
    display: flex;
    gap:298px;
    cursor: pointer;
    color: black;
}
    #ad >div{
        padding: 5px 22px;
    }
    #ad div h3{
    font-size: 19.5px;
    word-spacing: 2px;
    color: #404040;
    }
    #ad >div iframe{
        width: 330px;
        height: 433px;
    border-radius: 12px;
    margin-left: 4px;
    }
    .ro{
        float: right;
    }

    @media screen and (max-width: 1305px) {
        #ad{
            width: 385px;
    height: 440px;
   margin-left:361px;
            }
            
            #ad div h3{
                font-size: 17px;
                }
         
            #ad >div iframe{
                width: 335px;
                height: 369px;
            
           }   
     
    } 
    @media screen and (max-width: 982px) {
        #ad{
            width: 385px;
            height: 440px;
            margin-left:273px ;
            }
            #ad >div iframe{
                width: 335px;
                height: 369px;
             }   
     
    } 
    @media screen and (max-width: 800px) {
        #ad{
            width: 380px;
            height: 440px;
            margin-left:118px ;
            }
            .vb{
                display: none;
            }
            #ad >div{
                padding: 3px 22px;
            }
            #ad >div iframe{
                width: 327px;
                height: 370px;
             }   
     
    } 
    @media screen and (max-width: 516px) {
        #ad{
            width: 285px;
            height: 359px;
            margin-left: 62px;
            }
            
            
            #ad div h3{
            font-size: 18px;
            word-spacing: 2px;
            padding-left:30px;
            }
            #ad >div iframe{
                width: 235px;
                height: 280px;
           }   
    }
    @media screen and (max-width: 424px) {
        #ad{
            width: 280px;
            height: 334px;
            margin-left: 20px;
        }
            
            #ad div h3{
            font-size: 18px;
            word-spacing: 2px;
            padding-left:30px;
            }
            #ad >div iframe{
                width: 224px;
                height: 260px;
           }   
    }    
    
/*CommandDis*/
.eve{
    display:flex;
    gap:6px;
    flex-wrap:wrap;
}
.recieve{
    width:406px;
    height: 223px;
    border: 1px solid #cccccc;
   border-radius: 7px;
   margin-top: 8px;
   padding-left: 22px;
   padding-top: 17px;
   overflow-x: hidden;
}

.recieve #rec1{
    display: flex;
    font-size: 16px;
   gap: 8px;
}
.recieve #rec1 i{
padding-top: 5px;
}

.recieve #i9{
    font-size: 35px;
    color: #e5e5e5;
}

.recieve #rec2{
    display: flex;
    font-size: 17px;
   gap: 5px;
padding-left: 303px;
margin-top: -43px;
}
.recieve #rec3{
font-size: 18px;
display: flex;
flex-wrap: wrap;
}
.recieve #rec4{
  font-size: 15px;
  padding-top: 7px;  
  display: flex;
  flex-wrap: wrap;
  color: #404040;
}
.recieve #rec5{
display: flex;
    padding-top: 48px;
gap: 28px;
}  
@media screen and (max-width: 867px) {
    .eve{
        display:flex;
        gap:12px;
        flex-wrap: wrap;
    }
    .recieve{
        width:220px;
        height: 223px;
        border: 1px solid #cccccc;
       border-radius: 7px;
       margin-top: 8px;
       padding-left: 22px;
       padding-top: 17px;
       overflow-x: hidden;
    }
    

.recieve #rec1{
    display: flex;
    font-size: 16px;
   gap: 8px;
}
.recieve #rec1 i{
padding-top: 5px;
}

.recieve #i9{
    font-size: 32px;
    color: #e5e5e5;
}

.recieve #rec2{
    display: flex;
    font-size: 17px;
   gap: 5px;
padding-left: 303px;
margin-top: -43px;
}
.recieve #rec3{
font-size: 18px;
display: flex;
flex-wrap: wrap;
}
.recieve #rec4{
  font-size: 15px;
  padding-top: 7px;  
  display: flex;
  flex-wrap: wrap;
  color: #404040;
}
    .recieve #rec5{
        display: flex;
            padding-top: 48px;
        gap: 18px;
        }
}
/*tickets*/
.tic{
    display: flex;
    gap: 23.5px;
}
.tic >#booo{
    width: 70px;
    height: 84px;
    border-radius:10px;
    margin-top:1px;
}
#full{
    background-color: #e5e5e5;
text-decoration: none;
    padding: 2px 76px;
  margin-left: 23px;
  border-radius: 4.5px;  
  margin-left: -62px;
font-size: 15px;
cursor: pointer;
}
.tic2{
    margin-left: -12px;
}
.re{
    margin-left: 73px;
    margin-top: -19px;
}
.re>img{
width: 183px;
height: 145px;
margin-top: -12px;
margin-left:-4px;
}

#i12{
margin-left: 72px;
padding-top: 12px;
}
#full2{
    background-color: #e5e5e5;
text-decoration: none;
    padding: 1px 76px;
  margin-left: 23px;
  border-radius: 4.5px;  
  margin-left: -82px;
font-size: 15px;
cursor: pointer;
}

